name: "Check codes"

on:
  pull_request:
  push:
    branches:
      # - "nothing"
      - "master"
  workflow_dispatch:

permissions:
  contents: "read"

jobs:
  golangci-lint:
    name: "Check coding style"
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2

      - uses: "golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20" # v9.2.0
        with:
          version: "latest"

  scan-vulnerabilities:
    uses: "./.github/workflows/scan-vulnerabilities.yaml"

  spell-check:
    name: "Check spell"
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2

      - name: "Run spell check"
        run: "make spell-check"

  testing:
    name: "Unit Test"
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    strategy:
      matrix:
        go:
          - "1.24"
          - "1.25"
    steps:
      - uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2

      - uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5" # v6.2.0
        with:
          go-version: "${{ matrix.go }}"

      - name: "Run tests"
        run: "make test-json > result.json"

      - name: "Annotate tests"
        if: "${{ always() }}"
        uses: "guyarb/golang-test-annotations@2941118d7ef622b1b3771d1ff6eae9e90659eb26" # v0.8.0
        with:
          test-results: "result.json"
