name: "Scan Vulnerabilities"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_call:
  workflow_dispatch:

permissions:
  contents: "read"

jobs:
  scan-vulnerabilities:
    name: "Scan Vulnerabilities"
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1

      - uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5" # v6.2.0
        with:
          go-version: "1.25"

      - name: "Run vulnerability check"
        run: "make vulnerability-check"
