name: "Scan Vulnerabilities"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_call:
  workflow_dispatch:

permissions:
  contents: "read"

jobs:
  scan-vulnerabilities:
    name: "Scan Vulnerabilities"
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

      - uses: "actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c" # v6.1.0
        with:
          go-version: "1.25"

      - name: "Run vulnerability check"
        run: "make vulnerability-check"
